<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="jumbotron text-center">
        <h1>My First Bootstrap Page</h1>
        {{{body}}}
        <p>Resize this responsive page to see the effect!</p>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-sm-4">
                <ul class="list-group">
                    <li class="list-group-item active">Mùi </li>
                    <a class="list-group-item disabled">Thơm</a>
                    <a class="list-group-item">Thìa</a>
                    <a class="list-group-item">Bát</a>
                    <a class="list-group-item">Đĩa</a>
                </ul>
            </div>
            <div class="col-sm-4">
                <li class="list-group-item  list-group-item-success">Mùi </li>
                <a class="list-group-item list-group-item-info">Thơm</a>
                <a class="list-group-item list-group-item-warning">Thìa</a>
                <a class="list-group-item list-group-item-danger">Bát</a>
                <a class="list-group-item">Đĩa</a>
            </div>
            <div class="col-sm-4">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        <h4 class="list-group-item-heading">Mùi</h4>
                        <p class="list-group-item-text">Thơm</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Mùi</h4>
                        <p class="list-group-item-text">Thơm</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Mùi</h4>
                        <p class="list-group-item-text">Thơm</p>
                    </a>
                </div>
            </div>
        </div>
        <div>

        </div>
    </div>
</body>

</html>