<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Thêm Sinh Viên </h1>
    </div>
    <div class="container">

        <form action="/{{sinhvien._id}}" method="POST">
            <div class="form-group">
                <label for="ten">Ten:</label>
                <input type="text" id="ten" name="ten" class="form-control" value="{{sinhvien.ten}}" >
            </div>
            <div class="form-group">
                <label for="tuoi">Tuoi:</label>
                <input type="number" id="tuoi" name="tuoi" class="form-control" value="{{sinhvien.tuoi}}" >
            </div>
            <div class="form-group">
                <label for="adresss">Dia chi:</label>
                <input type="text" id="adresss" name="adresss" class="form-control" value="{{sinhvien.adresss}}" >
            </div>
            <button type="submit" class="btn btn-default">Sửa</button>

        </form>

        <div>

        </div>
    </div>
</body>

</html>